.button {
    -fx-border-width: 1;
    -fx-border-color: #5294ff;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-text-fill: #5294ff;
}

.button:hover {
    -fx-border-width: 1;
    -fx-border-color: #5294ff;
    -fx-border-radius: 5;
    -fx-background-color: #5294ff;
    -fx-text-fill: #FFF;
}

.text-field {
    -fx-border-width: 1;
    -fx-border-color: #5294ff;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-text-fill: #5294ff;
}

.placeholder {
    -fx-text-fill: #5294ff;
}

.check-box {
    box-color: transparent;
    -fx-text-fill: #5294ff;
}